<launch>
    <rosparam command="load" file="$(find ig_lio)/config/own.yaml" />
    <node pkg="ig_lio" type="ig_lio_node" name="ig_lio_node" output="screen" />
    
    <arg name="bagfile_path" default="scene_name.bag" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--pause $(arg bagfile_path)" />
    
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ig_lio)/rviz/lio_show.rviz" required="true" /> -->
</launch>
